/* SUBMIT */
.submit {
    display: flex;
    justify-content: right;
}

.submit-button {
    background-color: var(--brand-dark);

    font: var(--text-body-md);
    font-weight: bold;
    color: var(--text-heading);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    margin-top: 48px;
    padding: 10px 15px;

    cursor: pointer;

    border: none;
    border-radius: 10px;

    transition: 200ms;
}

.submit-button:hover {
    background-color: var(--brand-mid);
}

.submit-img {
    height: 20px;
    width: 20px;
}
